%h1.header
  Services

%table.table
  - @services.each do |service|
    %tr
      %td
        %h3= service.name
      %td= link_to 'Edit', edit_admin_service_path(service), :class => 'btn btn-mini'
      %td= link_to 'Delete', admin_service_path(service), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger'

%br/
= link_to 'New Service', new_admin_service_path, :class => 'btn btn-success'
