.page-header
  %h1
    Services

%table.large
  - @services.each do |service|
    %tr
      %td
        %h3= service.name
      %td= link_to 'Edit', edit_admin_service_path(service)
      %td= link_to 'Destroy', admin_service_path(service), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Service', new_admin_service_path
