%h1.header
  = @organization.try(:name)
  %br/
  %small= @location.full_address

= form_for( :location, :url => admin_organization_location_path(@organization, @location), :html => {:method => :put}) do |f|
  = render :partial => 'form', :locals => {:f => f}
