Welcome to Asset Builders Bay Area!

To log into your account, please use the information below:

URL:
= link_to 'http://www.assetbuilding-bayarea.org', 'http://www.assetbuilding-bayarea.org'

Email: 
= @user.email

Temporary Password:
= @password

Once you have successfully logged into your account, please change your password.

== If you have any questions, please contact #{mail_to 'info@assettbuilding-bayarea.org', 'info@assettbuilding-bayarea.org'}