td.top{ valign: top; }
.container{ margin-bottom: 50px;}
h1.header{ margin-bottom: 1em; }
.center{ text-align: center !important; }
.box-rotate {
     -moz-transform: rotate(-60deg);  /* FF3.5+ */
       -o-transform: rotate(-60deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-60deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}
#miles{width: 50px;}