td.top{ valign: top; }
.container{ margin-bottom: 50px;}
h1.header{ margin-bottom: 1em; }
h1.location{margin-bottom: 1em; }
.center{ text-align: center !important; }
.box-rotate {
     -moz-transform: rotate(-60deg);  /* FF3.5+ */
       -o-transform: rotate(-60deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-60deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}
#miles{width: 90px;}
#filters{margin-left: 60px;}
.filter-title{ margin-top: 1em; margin-bottom: 1em; }
#footer{margin-top: 40px; text-align: center;}
.field textarea{
  width: 90%;
}
.navbar-fixed-top{
  max-height:40px !important;
}