%h2 Filter Results
%br/

%h3 Categories
%table
  - for category in @categories
    = render :partial => 'category', :locals => {:category => category}
%br/

%h3 Languages
%table
  - for language in @languages
    = render :partial => 'language', :locals => {:language => language}
%br/

%h3 Counties
%table
  - for county in @counties
    = render :partial => 'county', :locals => {:county => county}
%br/

%div{:id => 'clear_filters'}
  Clear Filters
%br/
= link_to 'Search by Address', '/?address_search=true'